.hero-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 2 span;
}

.profile-image {
  width: 150px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.hero-content {
  text-align: center;
  margin: 1.5rem 0;
  h2 {
    font-size: 3rem;
    line-height: 1.2;
    transition: 0.2s ease-in-out;
  }
}

/* Responsive */

@media (max-width: 768px) {
  .hero-container {
    margin-top: 7rem;
    text-align: center;
  }

  .hero-content h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .hero-container .btn {
    width: 80%;
  }
}
