.project-container {
  grid-column: 2 span;
}

.project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

/* Project cards */

.card {
  display: block;
  width: 60%;
}

.content-card {
  position: relative;
  img {
    display: block;
    width: 100%;
    aspect-ratio: 10/3;
    transition: 200ms;
    &:hover {
      filter: brightness(70%);
    }
  }
  h4 {
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 10%;
    pointer-events: none;
  }
}

/* Responsive */
