.project-container {
  grid-column: 2 span;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.project {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

/* Project cards */

.card {
  display: block;
  border-radius: 10px;
}

.content-card {
  position: relative;
  border-radius: 10px;
  img {
    display: block;
    width: 100%;
    aspect-ratio: 10/2;
    border-radius: 10px;
    transition: 200ms;
    &:hover {
      filter: brightness(70%);
    }
  }
  h4 {
    font-size: 30px;
    position: absolute;
    top: 37%;
    left: 10%;
    pointer-events: none;
  }
}

/* Responsive */
