* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  object-fit: cover;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}

.container {
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 2rem;
}

h1::selection,
h2::selection {
  color: #111;
  background: var(--primary-color);
}
